---
- name: setup | node_exporter
  hosts: node_exporter
  roles:
   - node_exporter

- name: setup | prometheus
  hosts: prometheus
  roles:
   - prometheus

- name: setup | alertmanager 
  hosts: alertmanager
  roles:
   - alertmanager

- name: setup | docker
  hosts: docker
  roles:
   - docker
   - cAdvisor
