[Unit]
Description=node_exporter
After=network.target

[Service]
User={{user}}
Group={{group}}
Type=simple
ExecStart={{install_path}}/bin/node_exporter --collector.textfile.directory={{install_path}}textfile_collector

[Install]
WantedBy=multi-user.target
