global:
  scrape_interval:     {{scrape_interval_global}} 
  external_labels:
    monitor: 'codelab-monitor'
rule_files:
  - "rules.yml"
alerting:
  alertmanagers:
    - static_configs:
      - targets:
{% for host in groups['alertmanager'] %}
        - '{{ hostvars[host].ansible_host}}:9093'
{% endfor %}
scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'node_exporter'
    scrape_interval: 5s
    static_configs:
      - targets:
{% for host in groups['node_exporter'] %}
        - '{{ hostvars[host].ansible_host}}:9100'
{% endfor %}
  - job_name: 'cAdvisor'
    scrape_interval: 5s
    static_configs:
      - targets:
{% for host in groups['cAdvisor'] %}
        - '{{ hostvars[host].ansible_host}}:9280'
{% endfor %}
  - job_name: blackbox
    metrics_path: /probe
    scrape_interval: 5s
    params:
      module: [http_2xx]
    static_configs:
      - targets:
{% for domin in  endpoints %}
        - '{{domin}}'
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
{% for host in groups['blackboxs']%}
        replacement: '{{ hostvars[host].ansible_host}}:9115'
{% endfor %}
